/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1141.9px;
    font-family: 'Open Sans', sans-serif;
}

/* REUSABLE CLASS */
.flex{
    display: flex;
}

.blue-button{
    border: none;
    color: #f5f5f5;
    background-color: #0061ff;
    padding: .3rem .5rem;
    font-size: .6rem;
}

/* HEADER */

.navbar{
    min-width: 1141.9px;
    width: 100vw;
    z-index: 3;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding-right: 1rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.navbar>ul{
    list-style: none;
}

li>img{
    width: 80px;
}

.navbar ul>li{
    display: inline;
    font-size: .7rem;
    margin-left: 1rem;
}
/* MAIN */

section.top-main{
    height: 30rem;
    justify-content: center;
    align-items: flex-end;
    background-color: #b4d0e7;
}

.container{
    width: 65%;
    height: 100%;
    background-color: #b4d0e7;
    position: relative;
}

.container>h1{
    margin-top: 4rem;
    font-size: 3rem;
}

article.top-article{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 55%;
}

.top-article>p{
    font-size: .7rem;
}

.top-article>button{
    margin-top: 1.5rem;
    padding: .4rem .6rem;
}

.cancel{
    margin: 1rem 0 1.5rem 0;
}

figure.top-img{
    position: absolute;
    right: 0;
    top: 13.5rem;
    width: 70%;
    height: 65%;
}

.top-img{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

section.buisness-plans{
    justify-content: center;
}

div.top-box{
    width: 65%;
    padding-top: 5.5rem;
}

.top-box>.plan-title{
    margin: 0 auto;
}

div.plan-title{
    width: 87.5%;
    height: 5rem;
}

.plan-title>h2{
    margin-bottom: 1.5rem;
}

label{
    font-size: .7rem;
}

.plans{
    margin-top: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

article.v-plan{
    width: calc(75% / 3);
    margin: 1.5rem;
    height: 40rem;
    border: 1px solid lightgray;

}

.plan-type{
    font-size: .7rem;
    padding: .5rem 1rem;
    justify-content: center;
    align-items: center;
}

i{
    margin-right: 4px;
    margin-left: 4px;
}

.divider{
    border-bottom: 1px solid lightgray;
}

.plan-contents{
    font-size: .6rem;
    padding: 1rem;
}

.plan-contents>ul{
    margin-top: 1rem;
    list-style: none;
}

.plan-contents ul>li{
    margin-bottom: 1rem;
}

.plan-contents>.divider{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20%;
}

div.button-plan{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.button-plan>button{
    font-size: .7rem;
    padding: .5rem 1rem;
}

button.contact{
    padding: .5rem 3.4rem;
}

.points{
    margin-top: 1rem;
}

.blue-check{
    font-weight: bold;
    color: blue;
    margin-right: 5px;
}

strong{
    color: black;
}

.plan-contents>p{
    margin-top: 1rem;
    color: grey;
}



article.o-plan{
    width: 87.3%;
    height: 10rem;
    border: 1px solid lightgray;
}

.o-text{
    width: 65%;
    padding: 1rem 0 .5rem 1rem;
}

.o-text>h6{
    margin: .7rem 0 1.5rem;
}

.o-text>p{
    font-size: .6rem;
}

.o-button{
    padding-top: 1.5rem;
    width: 35%;
    text-align: center;
}

.o-button>button{
    padding: .5rem 1.5rem;
    font-size: .7rem;
}


section.parthner{
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 7rem;
}

.parthner-box{
    width: 76%;
}


.parthner-box>figure{
    width: 70%;
    height: 20rem;
    background-image: url(../img/partner.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.parthner-box>article{
    width: 40%;
    height: 20rem;
    font-size: .7rem;
}

article>h2{
    margin-top: 2rem;
}

.parthner-box article>p{
    margin: 1rem 0 2rem;
}

.w-button{
    padding: .5rem;
    border: 1px solid black;
    background-color: white;
}

section.cards{
    margin: 0 auto;
    width: 65%;
    padding-top: 7rem;
    justify-content: center;
}

div.cards-title{
    margin: 0 auto;
    width: 88%;
    height: 3rem;
}

div.cards-box{
    margin: 0 auto;
    width: 88%;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.card{
    margin-top: 1.5rem;
    width: calc(90% / 3);
}

img.card-pic{
    width: 208.65px;
    
}

.card>p{
    margin-top: 1rem;
    font-size: .7rem;
}

section.team{
    margin: 0 auto;
    width: 57%;
    padding-top: 8rem;
    padding-bottom: 5rem;

}

div.team-message{
    width: 65%;
}

.team-message>a{
    margin-top: 2rem;
    display: block;
    font-size: .8rem;
}

div.block{
    height: 405.333px;
    width: calc(100% / 3);
    flex-wrap: wrap;
    background-color: #f5f5f5;
}

.min-square{
    position: relative;
    width: 50%;
    height: 50%;
}

.min-square>img{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.designit{
    background-color: #a2d39b;
    border: 1rem solid #d1e9cd;
}

.asu{
    background-color: #61082b;
}

.uf{
    background-color: #0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.big{
    position: relative;
    padding: 12rem 2rem;
    font-size: .7rem;
}

.big>p{
    margin-bottom: 2rem;
}

.big>img{
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 60%;
}

.wbr{
    background-color: #d5001f;
}

.hearts{
    background-color: #b4d0e7;
}

.lonley{
    background-color: #0d2481;
}

.clear{
    background-color: #ffd830;
}


.free-trial{
    height: 15rem;
    background-color: #b4d0e7;
}

.free-trial.contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.free-title{
    width: 55%;
    font-size: 1.1rem;
    color: #61082b;
}

.free-trial.contents>button{
    border: none;
    padding: .5rem 2rem;
}

.questions{
    height: 30rem;
    justify-content: center;
    align-items: center;

}

.questions-tab{
    margin: 0 auto;
    line-height: 5rem;
    font-size: 1.1rem;
}

.questions-tab>p{
    font-size: .8rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.questions-tab p>i{
    margin-left: 5rem;
}
/* FOOTER */
footer{
    min-width: 1141.9px;
    height: 25rem;
    background-color: black;
}

section.column{
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

ul.col{
    padding-top: 4rem;
    list-style: none;
    color: white;
    width: calc(100% / 3);
    height: 100%;
    line-height: .5rem;
}

.col>li{
    font-size: .7rem;
    margin-bottom: 1.5rem;
}

.col>li:first-child{
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

li.divider{
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 50%;
    color: grey;
}

li.country{
    color: grey;
}



















